body { 
			background-image: url(http://cdn.playbuzz.com/cdn/09f8f7dd-c046-4a1f-8339-f40c0ddc786f/49887369-2992-45c9-9eb9-7a4f526c6fb7.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
			margin-top: 50%;

}
h1 {color: white;
text-align: center;
background-color: rgba(0,0,0,0.8);
}

p {color:white;
text-align: center;
font-size: 20px;
background-color: rgba(0,0,0,0.8);
}

p {color:white;
text-align: center;
font-size: 20px;
background-color: rgba(0,0,0,0.8);
}